Repository dweb-lab/codn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, bandit, docformatter

ruff:
  name: ruff lint
  description: Run ruff linter
  entry: ruff check codn/
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix
  pass_filenames: false

ruff-format:
  name: ruff format
  description: Run ruff formatter
  entry: ruff format codn/
  language: system
  pass_filenames: false

mypy:
  name: mypy type check
  entry: python -m mypy
  language: system
  args:
  - --ignore-missing-imports
  - --show-error-codes
  - codn/
  pass_filenames: false

bandit:
  name: bandit security check
  entry: python -m bandit
  language: system
  args:
  - -r
  - codn/
  pass_filenames: false

docformatter:
  name: docformatter
  entry: python -m docformatter
  language: system
  args:
  - --in-place
  - --wrap-summaries=88
  - --wrap-descriptions=88
  pass_filenames: true

Add pip wrapper to use uv pip instead of system pip
  pip
Due: none

删除不再使用的文件: .package-manager, scripts/setup-hooks.py, scripts/setup-proxy.sh
  .package-manager
  scripts/setup-hooks.py
  scripts/setup-proxy.sh
Due: ruff, ruff-format, mypy, bandit

改进make clean命令
  Makefile
Due: none

添加清理命令详细文档
  docs/development/clean-commands.md
Due: none

refactor: simplify and relocate check-ruff.sh
  check-ruff.sh
  scripts/check-ruff.sh
Due: none

chore: update uv.lock with pre-commit dependencies
  uv.lock
Due: none

refactor: reorganize Makefile linting targets for better clarity
  Makefile
Due: none

docs: 简化开发文档并移动到 docs/development 目录
  DEVELOPMENT.md
  README.md
  docs/README.md
  docs/development/QUICK-GUIDE.md
Due: none

Remove redundant quickstart.sh script
  quickstart.sh
Due: none

重构项目结构和代码优化
  codn/cli_commands/analyze_cli.py
  codn/cli_commands/git_cli.py
  codn/utils/git_utils.py
  codn/utils/os_utils.py
  codn/utils/pyright_lsp_client.py
  codn/utils/simple_ast.py
  scripts/install-dev-tools.sh
Due: ruff, ruff-format, mypy, bandit, docformatter

Remove redundant run_tests.py script
  run_tests.py
Due: ruff, ruff-format, mypy, bandit

refactor: move install.py to scripts/ directory
  Makefile
  docs/INSTALLATION.md
  ruff.toml
  scripts/install.py
Due: ruff, ruff-format, mypy, bandit

refactor: remove overly complex ruff.toml and fix import sorting
  codn/__init__.py
  codn/cli.py
  codn/cli_commands/analyze_cli.py
  codn/cli_commands/git_cli.py
  codn/utils/os_utils.py
  codn/utils/pyright_lsp_client.py
  codn/utils/simple_ast.py
  ruff.toml
Due: ruff, ruff-format, mypy, bandit, docformatter

fix: 修正 install-dev-tools.sh 中的脚本路径
  scripts/install-dev-tools.sh
Due: none

refactor: 精简 Makefile clean 命令
  Makefile
  docs/development/clean-commands.md
Due: none

style: format code with ruff
  scripts/install.py
  tests/conftest.py
  tests/test_pyright_lsp_client.py
  tests/test_pyright_lsp_graph.py
  tests/unit/test_os_utils.py
Due: ruff, ruff-format, mypy, bandit

chore: bump version to 0.1.3 and update changelog
  CHANGELOG.md
  pyproject.toml
Due: none

fix: resolve Pyright attribute access issues in simple_ast.py
  codn/utils/simple_ast.py
Due: ruff, ruff-format, mypy, bandit, docformatter

refactor: improve pyright LSP client logging and cleanup
  codn/utils/pyright_lsp_client.py
Due: ruff, ruff-format, mypy, bandit, docformatter

chore: remove `pass_filenames: false` from pre-commit hook configs
  .pre-commit-config.yaml
Due: none

refactor: merge local pre-commit hooks to avoid duplicate runs
  .pre-commit-config.yaml
  uv.lock
Due: none

chore(pre-commit): simplify config, remove comments, clean up hook entries
  .pre-commit-config.yaml
Due: none

chore(pre-commit): exclude tests/ directory from bandit scans
  .pre-commit-config.yaml
Due: none

fix(simple_ast): always import and initialize asttokens without fallback check
  codn/utils/simple_ast.py
Due: ruff, ruff-format, mypy, bandit, docformatter

refactor(tests): adapt find_enclosing_function calls to new line-only signature
  tests/test_pyright_lsp_client.py
Due: ruff, ruff-format

feat: Add SYMBOL_KIND_MAP and kind_to_str function to map symbol kinds to strings
  codn/utils/lsp_utils.py
Due: ruff, ruff-format, mypy, bandit, docformatter

feat: add run_codn_graph.py and run_watch.py scripts
  run_codn_graph.py
  run_watch.py
Due: ruff, ruff-format, mypy, bandit

feat(utils): 添加语言类型识别与主语言文件分组功能
  codn/__init__.py
  codn/utils/os_utils.py
Due: ruff, ruff-format, mypy, bandit, docformatter

refactor(lsp): generalize PyrightLSPClient to BaseLSPClient supporting multiple languages
  codn/utils/base_lsp_client.py
Due: ruff, ruff-format, mypy, bandit, docformatter

refactor(tests): migrate tests from PyrightLSPClient to BaseLSPClient and generalize file discovery
  tests/conftest.py
  tests/test_basic.py
  tests/test_pyright_lsp_client.py
  tests/test_pyright_lsp_graph.py
  tests/test_watch_files.py
  tests/unit/test_git_utils.py
  tests/unit/test_os_utils.py
  tests/unit/test_simple_ast.py
Due: ruff, ruff-format

docs: simplify docstrings in simple_ast.py
  codn/utils/simple_ast.py
Due: ruff, ruff-format, mypy, bandit, docformatter

Add TypedDict for function signatures and improve typing in simple_ast.py
  codn/utils/simple_ast.py
  docs/examples/basic-usage.py
Due: ruff, ruff-format, mypy, bandit, docformatter

refactor: replace list_all_python_files_sync with list_all_files_sync for flexible file filtering
  codn/cli_commands/analyze_cli.py
  codn/utils/simple_ast.py
Due: ruff, ruff-format, mypy, bandit, docformatter

chore(docs): wrap long docstrings across CLI, scripts, and tests
  codn/cli_commands/analyze_cli.py
  scripts/install.py
  tests/test_basic.py
  tests/test_pyright_lsp_client.py
  tests/unit/test_git_utils.py
  tests/unit/test_os_utils.py
  tests/unit/test_simple_ast.py
Due: ruff, ruff-format, mypy, bandit, docformatter

feat(cli): add `lsp` command group for code understanding via LSP
  codn/cli.py
  codn/cli_commands/lsp_cli.py
Due: ruff, ruff-format, mypy, bandit, docformatter

refactor: unify LSP client to BaseLSPClient and enhance logging
  run_codn_graph.py
  run_watch.py
Due: ruff, ruff-format, mypy, bandit

Add Bandit security checks to the Makefile
  Makefile
Due: none

feat: 增强 LSP 客户端功能，支持按模式/行号/符号提取代码片段和依赖遍历
  codn/utils/base_lsp_client.py
Due: ruff, ruff-format, mypy, bandit, docformatter

feat(tools): add CLI for code snippet search and dependency exploration
  run_tools.py
Due: ruff, ruff-format, mypy, bandit

feat: add script to run multi-language parsing and reference lookup
  run_multilang_parse.py
Due: ruff, ruff-format, mypy, bandit

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(tests/|docs/examples/)
  bandit: any of: \.py$, but not: ^tests/
  docformatter: any of: ^codn/.*\.py$ and \.py$
